<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Answer Key</title>

<style>
body{
    font-family:Arial;
    background:#f5f6fa;
    margin:0;
    padding:10px;
}
.card{
    background:#fff;
    padding:12px;
    margin-bottom:10px;
    border-radius:10px;
}
.correct{ background:#d4edda; }
.wrong{ background:#f8d7da; }
.option{
    padding:6px;
    margin:4px 0;
    border-radius:6px;
}
.opt-correct{
    background:#55efc4;
    font-weight:bold;
}
.opt-wrong{
    background:#ff7675;
    color:#fff;
}
</style>
</head>

<body>

<h2 style="text-align:center;">Answer Key</h2>

{% for q in result_data %}
<div class="card {{ q.status }}">
    <b>Q{{ loop.index }}. {{ q.question }}</b>

    {% for opt in q.options %}
        {% set idx = loop.index0 %}
        <div class="option
            {% if idx == q.correct %}opt-correct{% endif %}
            {% if q.user is not none and idx == q.user|int and idx != q.correct %}opt-wrong{% endif %}
        ">
            {{ opt }}
        </div>
    {% endfor %}
</div>
{% endfor %}

</body>
</html>